# List of device IDs, one per line
# Lines starting with # are ignored
# Empty lines are also ignored

R3CR100RZMH
R3CR10HJ94R
R3CR202S10A
R3CR707G1FF
R5CNC0RZSNW
R5CR11KHW4W
R5CR128DBWB
R5CR60LS9JX
R5CR70MQ79H
R5CR70SM7WR
R5CR70V87SL
R5CR70V8SFR
R5CR71C2VNK
R5CR80RMVXD
R5CR82J4H0H
R5CR92M73NN
R5CRB2FP6PL
R5CRC2JA5NK
R5CRC38FN7N
RFCT5128G1D
